{% extends "base.html" %}

{% block title %}
Les Tâches
{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous">
{% endblock %}

{% block content %}
    <h1>Liste des tâches </h1>
    <table class="table">
        <thead>
            <th>Nom</th>
            <th>Description</th>
            <th>Création</th>
            <th>Planification</th>
            <th>DeadLine</th>
            <th>Terminé</th>
        </thead>
        <tbody>
        {% for elem in objects %}
        {% if elem.closed %} 
        <tr class="success">
        {% else %} 
        <tr class="info">
        {% endif %}
            <td>{{ elem.name }} </td>
            <td>{{ elem.description }} </td>
            <td>{{ elem.creation_date }} </td>
            <td>{{ elem.schedule_date }} </td>
            <td>{{ elem.colored_due_date }} </td>
            <td>{{ elem.closed }} </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}